@use "../abstracts/" as *;

//Fonts
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/manrope-v19-latin-regular.woff2")
      format("woff2"),
    url("../../../assets/fonts/manrope-v19-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../../../assets/fonts/manrope-v19-latin-500.woff2") format("woff2"),
    url("../../../assets/fonts/manrope-v19-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../../../assets/fonts/manrope-v19-latin-600.woff2") format("woff2"),
    url("../../../assets/fonts/manrope-v19-latin-600.woff") format("woff");
}

// General Styles
body {
  background-color: $white;
  font-family: "Manrope", sans-serif;
  color: $black;
}

.container {
  width: 100%;
  margin: 0 auto;
  @include for-desktop() {
    padding: $spacing-xxxl $spacing-xl;
  }
  @include for-tablet() {
    padding: $spacing-xxl $spacing-xl;
  }
  @include for-mobile() {
    padding: $spacing-xl $spacing-s;
  }
}

.inner-wrapper {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing-xl;
  @include for-tablet() {
    padding: 0 $spacing-s;
  }
}

.content-container {
  width: 100%;
  margin: 0 auto;
}

.line-break {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
input,
textarea {
  &:focus-visible {
    outline: 2px solid $blue; // Inner border
    outline-offset: 3px;
    border-radius: $border-radius-s;
    box-shadow: 0 0 0 2px $white; // Outer border
  }
  &:focus {
    outline: none;
  }
}

button {
  &:focus-visible {
    outline: 54px solid $blue; // Inner border
    outline-offset: 3px;
    border-radius: $border-radius-s;
    box-shadow: 0 0 0 2px $white; // Outer border
  }
  &:focus {
    outline: none;
  }
}

section {
  padding: $spacing-xxxl 0;
  position: relative;
  @include for-mobile() {
    padding: $spacing-xxl 0;
  }
}

p {
  font-size: $fontSize-20;
  font-weight: $regular-weight;
  line-height: $lineHeight-29;
  letter-spacing: $letterSpacing--005;
  color: $black;
  @include for-mobile() {
    font-size: $fontSize-16;
    font-weight: $regular-weight;
    line-height: $lineHeight-21;
    letter-spacing: $letterSpacing--005;
  }
}

sup {
  font-size: 12px;
  font-weight: $regular-weight;
  line-height: initial;
  padding-left: 1px;
}

.first-sup {
  padding-right: 3px;
  padding-left: 0;
}

.p-margin-bottom {
  margin-bottom: $spacing-s;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.lock-scroll {
  overflow: hidden;
  -ms-overflow-style: none; // IE 11
  scrollbar-width: none; // Firefox
  ::-webkit-scrollbar {
    display: none; // Chrome, Safari & Opera
    width: 0;
    background: $transparent;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.section-label {
  display: inline-flex;
  align-items: center;
  gap: $spacing-xxs;
  .section-label__dot {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: $blue;
    flex: 0 0 auto;
  }
  .section-label__text {
    font-size: $fontSize-12;
    font-weight: $semiBold-weight;
    letter-spacing: $letterSpacing--005;
    text-transform: $uppercase;
  }
}
