// General breakpoints
$breakpoint-xs: 0px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1440px;

// Hero breakpoints
$hero-breakpoint-xl: 1439px;

// Isolated breakpoints
$breakpoint-846: 846px;
$breakpoint-1200: 1200px;
$breakpoint-1300: 1300px;