// Main Colors
$blue: #2F5BFF;
$black: #000000;
$white: #FFFFFF;
$bg-light: #F5F5F7;
$bg-dark: #151515;
$light-grey: #EBEBEB;
$grey: #D8D8D8;
$mid-grey: #A6A6A6;
$dark-grey: #757575;
$darkest-grey: #4D4D4D;
$transparent: transparent;
$scrollbar-thumb: #D8D8D8;

// Status
$validation-error: #e77e23;
$validation-success: #2ECC71;
