@use 'variables' as *;
@use 'breakpoints' as *;
@use 'colors' as *;

// Section padding
@mixin sectionPadding {
  padding: $spacing-xxl 0;
}

// Images
@mixin fullImage {
  background-image: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

// Transitions
@mixin transition200 {
  transition: $transition-200;
}

@mixin transition300 {
  transition: $transition-300;
}

@mixin transition500 {
  transition: $transition-500;
}

// Media Queries
@mixin for-small-mobile {
  @media only screen and (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin for-mobile {
  @media only screen and (max-width: $breakpoint-m) {
    @content;
  }
}

@mixin for-small-tablet {
  @media only screen and (max-width: $breakpoint-846) {
    @content;
  }
}

@mixin for-tablet {
  @media only screen and (max-width: $breakpoint-l) {
    @content;
  }
}

@mixin for-small-laptop {
  @media only screen and (max-width: $breakpoint-1200) {
    @content;
  }
}

@mixin for-laptop {
  @media only screen and (max-width: $breakpoint-1300) {
    @content;
  }
}


@mixin for-desktop {
  @media only screen and (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin for-hero-laptop {
  @media only screen and (max-width: $hero-breakpoint-xl) {
    @content;
  }
}

@mixin for-large-desktops {
  @media only screen and (max-width: $breakpoint-xxl) {
    @content;
  }
}

// Scrollbar
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

// Custom scroll-bar
@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    width: $spacing-xs;
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
    &:hover {
      background-color: $grey;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $light-grey;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: $spacing-xs;
  }
}

// Hover
@mixin hover-supported {
  @media not all and (hover: none) {
    &:hover {
      @content;
    }
  }
}

@mixin hover-supported-all {
  @media not all and (hover: none) {
    &:hover * {
      @content;
    }
  }
}