@use "../abstracts/" as *;

.not-found {
  min-height: calc(100vh - $header-height-desktop);
  display: flex;
  align-items: center;
  @include for-tablet() {
    padding: $spacing-xxl 0;
    min-height: calc(100vh - $header-height-tablet);
  }

  @include for-mobile() {
    padding: $spacing-xl 0;
    min-height: calc(100vh - $header-height-mobile);
  }

  .not-found__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-xxxl;
    flex: 1 1 auto;
    align-items: stretch;

    @include for-tablet() {
      grid-template-columns: 1fr;
      align-items: start;
      gap: $spacing-l;
      min-height: auto;
      padding-top: $spacing-xl;
      padding-bottom: $spacing-xl;
    }

    @include for-mobile() {
      padding-top: $spacing-l;
      padding-bottom: $spacing-l;
      gap: $spacing-s;
    }
  }

  .not-found__left {
    max-width: 700px;
    height: 100%;
    align-items: center;
    .section-label {
      margin-bottom: $spacing-xs;

      @include for-tablet() {
        margin-bottom: 12px;
      }

      @include for-mobile() {
        margin-bottom: $spacing-xxs;
      }
    }

    .page-title {
      font-size: $fontSize-56;
      font-weight: $semiBold-weight;
      line-height: $lineHeight-72;
      letter-spacing: $letterSpacing--0064;
      margin-bottom: $spacing-s;

      @include for-tablet() {
        font-size: $fontSize-48;
        line-height: $lineHeight-60;
        margin-bottom: $spacing-xs;
      }

      @include for-mobile() {
        font-size: $fontSize-32;
        line-height: normal;
      }
    }

    .section-lead {
      font-size: $fontSize-16;
      font-weight: $regular-weight;
      line-height: $lineHeight-21;
      letter-spacing: $letterSpacing--005;
      color: $dark-grey;

      @include for-mobile() {
        font-size: $fontSize-14;
      }
    }
  }

  .not-found__right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    @include for-tablet() {
      justify-content: flex-start;
    }
    .button {
      margin-top: auto;
    }
  }
}
