@use "../abstracts/" as *;

.contact-page {
  padding-bottom: 0;
  @include for-tablet() {
    padding: $spacing-xxl 0 0 0;
  }
  @include for-mobile() {
    padding: $spacing-xl 0 0 0;
  }
  .contact-page__head {
    display: flex;
    justify-content: space-between;
    gap: $spacing-xxxl;
    align-items: flex-end;
    margin-bottom: $spacing-xl;
    @include for-tablet() {
      margin-bottom: $spacing-m;
      flex-direction: column;
      align-items: flex-start;
      gap: $spacing-xs;
    }
    @include for-mobile() {
      margin-bottom: $spacing-s;
    }
    .contact-page__head-left {
      .section-label {
        margin-bottom: $spacing-xs;
        @include for-tablet() {
          margin-bottom: 12px;
        }
        @include for-mobile() {
          margin-bottom: $spacing-xxs;
        }
      }
      .page-title {
        font-size: $fontSize-56;
        font-weight: $semiBold-weight;
        line-height: $lineHeight-72;
        letter-spacing: $letterSpacing--0064;
        @include for-tablet() {
          font-size: $fontSize-48;
          line-height: $lineHeight-60;
        }
        @include for-mobile() {
          font-size: $fontSize-32;
          line-height: normal;
        }
      }
    }
    .contact-page__intro {
      max-width: 400px;
      text-align: right;
      @include for-tablet() {
        text-align: left;
      }
      p {
        font-size: $fontSize-16;
        font-weight: $regular-weight;
        line-height: $lineHeight-21;
        letter-spacing: $letterSpacing--005;
        color: $dark-grey;
        @include for-mobile() {
          font-size: $fontSize-14;
        }
      }
    }
  }

  .contact-page__grid {
    display: grid;
    grid-template-columns: minmax(0, 760px) minmax(0, 600px);
    justify-content: space-between;
    gap: $spacing-xxxl;
    padding-bottom: $spacing-xxxl;
    border-bottom: 0.5px solid $grey;
    @include for-tablet() {
      padding-bottom: $spacing-xxl;
      grid-template-columns: 1fr;
      gap: $spacing-xl;
    }
    @include for-mobile() {
      padding-bottom: $spacing-xl;
      gap: $spacing-m;
    }
    .contact-page__cols {
      display: flex;
      gap: $spacing-s;
      flex-direction: column;
      @include for-mobile() {
        gap: 20px;
      }
      .contact-page__col {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .contact-page__col-title {
          font-size: $fontSize-20;
          font-weight: $semiBold-weight;
          letter-spacing: $letterSpacing--0064;
          line-height: normal;
          color: $dark-grey;
          @include for-mobile() {
            font-size: $fontSize-16;
          }
        }
        .contact-page__list {
          list-style: none;
          padding-left: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: $spacing-xxs;
          @include for-mobile() {
            gap: 6px;
          }
          li {
            font-size: $fontSize-16;
            font-weight: $semiBold-weight;
            letter-spacing: $letterSpacing-048;
            @include for-mobile() {
              font-size: $fontSize-14;
            }
            a {
              position: relative;
              color: $black;
              background-image: linear-gradient(
                to right,
                $blue 0%,
                $blue 50%,
                $black 50%,
                $black 100%
              );
              background-size: 200% 100%;
              background-position: 100% 0;
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
              transition: background-position 500ms
                cubic-bezier(0.22, 1, 0.36, 1);
              &:hover {
                background-position: 0 0;
              }
            }
          }
        }
      }
      .contact-page__divider {
        border-bottom: 0.5px solid $grey;
      }
    }
  }
}
