@use "../abstracts/" as *;

// Primary button
.button.button--primary {
  padding: $spacing-xs $spacing-s;
  font-size: $fontSize-16;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing-025;
  margin: 0;
  background-color: rgba($color: $white, $alpha: 0.2);
  backdrop-filter: blur(40px);
  border-radius: $border-radius-button-l;
  transition: all 300ms cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
  &:hover {
    background-color: $white;
    color: $black;
  }

  @include for-tablet() {
    padding: 11.75px $spacing-xs;
    font-size: $fontSize-14;
    border-radius: $border-radius-button-m;
  }
}

// Secondary button
.button.button--secondary {
  padding: $spacing-xs $spacing-s;
  font-size: $fontSize-16;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing-025;
  margin: 0;
  background-color: $light-grey;
  border-radius: $border-radius-button-l;
  transition: all 300ms cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: $white;
  }

  @include for-tablet() {
    padding: 11.75px $spacing-xs;
    font-size: $fontSize-14;
    border-radius: $border-radius-button-m;
  }
}

.button.button--secondary__small {
  padding: 7.75px $spacing-xs;
  font-size: $fontSize-14;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing-025;
  margin: 0;
  background-color: $light-grey;
  border-radius: $border-radius-button-l;
  transition: all 300ms cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: $white;
  }
}

// Back button
.work-detail__back {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: $fontSize-16;
  font-weight: $semiBold-weight;
  letter-spacing: $letterSpacing-025;
  color: $black;
  @include for-mobile() {
    font-size: $fontSize-14;
  }
  &:hover {
    color: $blue;
    .work-detail__back-icon {
      transform: translateX(-3px);
    }
    .work-detail__back-text {
      background-position: 0 0;
    }
  }
}

.work-detail__back-icon {
  width: 24px;
  height: 24px;
  transform: translateX(0);
  transition: transform 320ms cubic-bezier(0.22, 1, 0.36, 1);

  @include for-mobile() {
    width: 20px;
    height: 20px;
  }

  svg {
    display: block;
    @include for-mobile() {
      width: 20px;
      height: 20px;
    }
  }
}

// Text-fill animation (samma som nav)
.work-detail__back-text {
  background-image: linear-gradient(
    to right,
    $blue 0%,
    $blue 50%,
    $black 50%,
    $black 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transition: background-position 500ms cubic-bezier(0.22, 1, 0.36, 1);
}
