@use "../abstracts/" as *;

.work-controls {
  display: flex;
  justify-content: space-between;
  gap: $spacing-xxxl;
  margin-bottom: $spacing-xl;
  @include for-tablet() {
    gap: $spacing-xl;
    margin-bottom: $spacing-l;
  }
  @include for-mobile() {
    margin-bottom: $spacing-m;
  }
  .work-filters {
    display: flex;
    gap: $spacing-xxs;
    .chip {
      background-color: $light-grey;
      padding: 7.5px $spacing-xs;
      font-size: $fontSize-14;
      font-weight: $semiBold-weight;
      letter-spacing: $letterSpacing-025;
      margin: 0;
      border-radius: 35px;
      transition: all 300ms cubic-bezier(0.22, 1, 0.36, 1);
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
    .chip.is-active {
      background-color: $black;
      color: $white;
    }
  }
  .work-view {
    display: flex;
    align-items: center;
    background-color: $light-grey;
    border-radius: 35px;
    padding: 3px;
    gap: 4px;
    @include for-mobile() {
      position: fixed;
      left: 50%;
      bottom: calc($spacing-s + env(safe-area-inset-bottom));
      transform: translateX(-50%);
      z-index: 200;
      width: max-content;
      max-width: calc(100% - (#{$spacing-xs} * 2));
      box-shadow: 0 0.6px 1.6px -1.5px rgba(0, 0, 0, 0.17),
        0 2.3px 6px -3px rgba(0, 0, 0, 0.14),
        0 10px 26px -4.5px rgba(0, 0, 0, 0.02);
    }
    .icon-button {
      padding: 3.5px $spacing-xs;
      border-radius: 31px;
      border: 0;
      background: transparent;
      cursor: pointer;
      color: $black;
      transition: background-color 300ms cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 300ms cubic-bezier(0.22, 1, 0.36, 1),
        transform 300ms cubic-bezier(0.22, 1, 0.36, 1),
        color 300ms cubic-bezier(0.22, 1, 0.36, 1);

      .icon {
        display: flex;

        svg {
          display: block;
        }
      }

      &:not(.is-active):hover {
        background-color: $white;
      }

      &:not(.is-active):focus-visible {
        background-color: $white;
        outline: none;
      }
    }

    .icon-button.is-active {
      background-color: $white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: default;
    }
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
}

.page-work {
  @include for-mobile() {
    .work-content {
      padding-bottom: calc(35px + env(safe-area-inset-bottom));
    }
  }
}
