@use "../abstracts/" as *;
.hero {
  padding: 0 $spacing-xl $spacing-xl $spacing-xl;
  @include for-tablet() {
    padding: 0 $spacing-s $spacing-xl $spacing-s;
  }
  @include for-mobile() {
    padding: 0;
  }
  .container__hero {
    padding: 0;
    .hero-card {
      position: relative;
      overflow: hidden;
      border-radius: $border-radius-xxl;
      min-height: calc(
        100vh - 128px
      ); // Height of header (80px) and margin bottom (48px)
      display: flex;
      background-image: url("../../../assets/videos/abstract-blue-waves-fallback.webp");
      background-repeat: no-repeat;
      background-size: cover;
      @include for-tablet() {
        min-height: calc(100vh - 122px); // fallback
        min-height: calc(
          100dvh - 122px
        ); // Height of header (74px) and margin bottom (48px)
      }
      @include for-mobile() {
        border-radius: 0;
        min-height: 100vh; // Fallback
        min-height: 100dvh;
      }

      .hero-card__media {
        position: absolute;
        inset: 0;
      }

      .hero-card__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //transform: scale(1.03); // liten “bleed” så inga kanter syns
      }

      .hero-card__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
      }

      .hero-card__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        padding: $spacing-xl;
        max-width: 650px;
        color: $white;
        @include for-tablet() {
          padding: $spacing-m;
        }
        @include for-mobile() {
          padding-top: calc(52px + #{$spacing-m});
          padding-left: $spacing-s;
          padding-right: $spacing-s;
          padding-bottom: $spacing-m;
          max-width: 100%;
        }
      }

      .hero-card__overline {
        color: $white;
        font-size: $fontSize-14;
        font-weight: $semiBold-weight;
        letter-spacing: $letterSpacing--005;
        text-transform: $uppercase;
        margin-bottom: 12px;
        @include for-tablet() {
          margin-bottom: $spacing-xxs;
        }
      }

      .hero-card__lead {
        font-size: $fontSize-20;
        font-weight: $regular-weight;
        line-height: $lineHeight-29;
        letter-spacing: $letterSpacing--005;
        color: $white;
        @include for-tablet() {
          font-size: $fontSize-16;
          line-height: $lineHeight-21;
        }
      }

      .hero-card__actions {
        margin-top: $spacing-xl;
        display: flex;
        @include for-tablet() {
          margin-top: $spacing-s;
        }
      }
    }
  }

  /* Reduced motion: shows image instead of video if the user decides to */
  @media (prefers-reduced-motion: reduce) {
    .hero-card__video {
      display: none;
    }

    .hero-card__media {
      background: url("../../../assets/videos/abstract-blue-waves-fallback.webp")
        center / cover no-repeat;
    }
  }
}
